* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #262a45;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
}

.GameContainer {
  position: relative;
  width: 70%;
  color: white;
}

.player-computerTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-computerTitle h3 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.player-computerTitle h3 span {
  margin-top: 10px;
}

.winner {
  margin-top: 50px;
  text-align: center;
}

.player-computer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-computer img {
  height: 200px;
  transition: 0.3s ease;
  animation: ImgAnimate 1s ease-in-out infinite;
}
.player-computer .playerImg {
  transform: rotateY(180deg) translateY(0);
  animation: PlayerAnimate 1s ease-in-out infinite;
}
@keyframes PlayerAnimate {
  0% {
    transform: rotateY(180deg) translateY(0);
  }
  50% {
    transform: rotateY(180deg) translateY(15px);
  }
  100% {
    transform: rotateY(180deg) translateY(0);
  }
}

.player-computer .computerImg {
  animation: ComputerAnimate 1s ease-in-out infinite;
}
@keyframes ComputerAnimate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

.buttonsParent {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.buttonsParent button {
  font-size: 17px;
  padding: 8px 13px;
  cursor: pointer;
  background-color: #27675b;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.buttonsParent button:hover {
  transform: scale(1.1);
  background-color: white;
  color: #27675b;
}

.clickedOption {
  background-color: lawngreen;
  color: black;
}

.clickedOption:hover {
  background-color: red;
  transform: scale(1);
}

.PlayeranimateImg {
  animation: PlayeranimateImg 0.3s ease-in-out infinite !important ;
}
@keyframes PlayeranimateImg {
  0% {
    transform: rotateY(180deg) translateY(0);
  }
  50% {
    transform: rotateY(180deg) translateY(30px);
  }
  100% {
    transform: rotateY(180deg) translateY(0);
  }
}

.ComputeranimateImg {
  animation: ComputeranimateImg 0.3s ease-in-out infinite !important ;
}
@keyframes ComputeranimateImg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

.Restart {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translateX(-59%);
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  background-color: greenyellow;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
  display: none;
}

.Restart:hover {
  transform: translateX(-59%) scale(1.1);
}
.ActiveRestart {
  display: block;
}
